* {
	scroll-behavior: smooth;
}

body,
html {
	padding: 0;
	margin: 0;
	height: 100vh;
	width: 100vw;
	background-color: #1e1a20;
	overflow: hidden;
}

.d-none {
	display: none;
}

canvas#app {
	position: fixed;
	top: 0;
	left: 0;
	outline: none;
	z-index: 0;
}

.scroll-based {
	overflow: auto;

}

.scroll-based-section {
	display: flex;
	align-items: center;
	height: 100vh;
	position: relative;
	font-family: 'Cabin', sans-serif;
	color: #ffeded;
	text-transform: uppercase;
	font-size: 7vmin;
	padding-left: 10%;
	padding-right: 10%;
}

section.scroll-based-section:nth-child(odd) {
	justify-content: flex-end;
}
